h1, h2, h3, h4 {
    color:plum;
}
h1 {
  font-style: italic;
}

p {
    color: lightskyblue;
}

a:link {
    color: lightgreen;

    }    
  a:visited {
    color: limegreen;
  }

li, dd {
    color: lightblue;
}